body {
  font-family: Arial, sans-serif;
  background: #F7F7F9;
  margin: 0;
  padding: 0;
  color: #031927;
  display: flex;
  justify-content: center;
}

.app {
  max-width: 1100px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

h1,
h2 {
  color: #2A1E5C;
}

.task-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.task-input input,
.task-input button {
  padding: 8px;
  font-size: 16px;
}

.task-input button {
  background: #FF1B1C;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.task-input button:hover {
  background: #2A1E5C;
}

.main-content {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

/* Task List */
.task-section,
.completed-panel {
  flex: 1;
  min-width: 250px;
  background: #EAEAF1;
  padding: 10px;
  border-radius: 8px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  background: white;
  margin: 5px 0;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  border: 1px solid #ddd;
  align-items: center;
}

.task-input input {
  background: #F7F7F9;
  /* light background */
  border: 1px solid #2A1E5C;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  color: #031927;
  /* dark text */
}

.task-input input:focus {
  outline: none;
  border-color: #FF1B1C;
  /* highlight border on focus */
  box-shadow: 0 0 4px rgba(255, 27, 28, 0.5);
}


.task-list li.completed label {
  text-decoration: line-through;
  color: #7DDF64;
}

.task-list li button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
}